{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        "jsx-a11y/label-has-for": "off",
        "react/destructuring-assignment": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "camelcase": 0,
        "react/jsx-no-target-blank": 0
    },
    "env": {
        "browser": true,
        "jest": true
    }
}