.banner {
    max-width: 1440px;
    min-width: 950px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.banner__title {
    max-width: 545px;
    padding: 67px 0 0;
    font: 30px/30px 'KIAB';
    color: var(--white);
}

.banner__title_increase {
    font: 45px/95px 'KIAB';
    color: var(--white);
    text-transform: uppercase;
}

.banner__button {
    background: var(--white);
    font: 18px/18px 'KIAB';
    color: var(--bordeaux);
    text-transform: uppercase;
    padding: 25px 64px 20px 63px;
    cursor: pointer;
    margin: 40px 0 0;
}

.banner__image {
    background: url(../../images/cars.jpg) no-repeat;
    width: 1038px;
    height: 421px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}