.link {
  font-family: KIAM, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  text-decoration: none;
  display: block;
}

.link:hover {
  color: var(--pinkish);
}

.text {
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .link {
    padding: 5px;
  }

  .link + .link {
    border-top: 1px solid white;
  }
}
