.rectangle {
  width: 879px;
  height: 771px;
  background: var(--bordeaux);
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

@media (max-width: 640px) {
  .rectangle {
    display: none;
  }
}
