@import "./css-reset.css";
@import "./fonts.css";
:root {
  --white: #fff;
  --almostWhite: #fefefe;
  --lightCart: #d0d0d0;
  --theCart: #939393;
  --black: #000;
  --signalBlack: #333;
  --bordeaux: #a30606;
  --brightTangerine: #ff9393;
  --pinkish: #cd7f7f;
  --smokyWhite: #f2f2f2;
  --lightGrey: #d8d8d8;
  --almostGrey: #b5b5b5;
}
